/MultiversionSupport/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/MultiversionSupport/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/MultiversionSupport/bin/Release/net48/HOOKS-Assembly-CSharp.dll
/MultiversionSupport/bin/Release/net48/PUBLIC-Assembly-CSharp.dll
/lib/PUBLIC-Assembly-CSharp.dll
/lib/HOOKS-Assembly-CSharp.dll
/lib/New patch/BepInEx.dll
/lib/New patch/HOOKS-Assembly-CSharp.dll
/lib/New patch/Mono.Cecil.dll
/lib/New patch/MonoMod.Common.dll
/lib/New patch/MonoMod.RuntimeDetour.dll
/lib/New patch/MonoMod.Utils.dll
/lib/New patch/PUBLIC-Assembly-CSharp.dll
/lib/New patch/UnityEngine.CoreModule.dll
/lib/New patch/UnityEngine.dll
/lib/Old patch/BepInEx.dll
/lib/Old patch/HOOKS-Assembly-CSharp.dll
/lib/Old patch/PUBLIC-Assembly-CSharp.dll
/lib/Old patch/UnityEngine.CoreModule.dll
/lib/Old patch/UnityEngine.dll
/lib/Old patch/Mono.Cecil.dll
/lib/Old patch/MonoMod.Utils.dll
/.vs/MultiversionSupport/FileContentIndex/386ec234-ca7a-4ef4-8d81-d2ae8ebdc0fb.vsidx
/.vs/MultiversionSupport/FileContentIndex/4b1f8810-4a26-4e13-bac1-be6e43eafad7.vsidx
/.vs/MultiversionSupport/FileContentIndex/649257da-8f9c-4b36-8064-c51af922a40a.vsidx
/.vs/MultiversionSupport/FileContentIndex/a75657d5-a9d1-4ea5-ab89-dfdb98917dc1.vsidx
/.vs/MultiversionSupport/FileContentIndex/f6d2c4a6-a59d-46da-9088-cd9e4ad59261.vsidx
/.vs/ProjectEvaluation/multiversionsupport.metadata.v7.bin
/.vs/ProjectEvaluation/multiversionsupport.projects.v7.bin
/.vs/ProjectEvaluation/savemanager.metadata.v7.bin
/.vs/ProjectEvaluation/savemanager.projects.v7.bin
/.vs/SaveManager/DesignTimeBuild/.dtbcache.v2
/.vs/SaveManager/FileContentIndex/2a8cebd1-a071-44e3-85d5-ead5caed33e4.vsidx
/.vs/SaveManager/FileContentIndex/93222d40-eab2-47dd-8e42-396d7372d17c.vsidx
/.vs/SaveManager/FileContentIndex/ce061852-3879-4450-935d-c80ffe251976.vsidx
/.vs/SaveManager/FileContentIndex/dc217497-77cc-4e0b-9620-6ccdf9143b66.vsidx
/.vs/SaveManager/FileContentIndex/ea7887ec-8fec-467c-a4fd-d6d00a56cec3.vsidx
/.vs/SaveManager/v17/.futdcache.v2
/.vs/SaveManager/v17/.suo
/mod/plugins/sav
/mod/plugins/sav2
/.vs/SaveManager/FileContentIndex/0d1effd2-9e0b-4f9a-93e6-ef842ac38946.vsidx
/.vs/SaveManager/FileContentIndex/f676cee3-6698-41b2-9ded-78da71810dc4.vsidx
/.vs/SaveManager/FileContentIndex/2e8ed1ea-d40f-4eef-b304-5ea7dc1a1bc1.vsidx
/.vs/SaveManager/FileContentIndex/b23788e2-f2fa-4864-b3ee-c2cf576cbc33.vsidx
/.vs/SaveManager/FileContentIndex/e7ba548a-72a0-4dd5-89b2-117bb2414926.vsidx
/.vs/SaveManager/FileContentIndex/ed46ef39-0387-45af-9906-fadd783f3c16.vsidx
/.vs/SaveManager/FileContentIndex/6174ba6f-6559-4da4-98dc-b581d01daf12.vsidx
/.vs/SaveManager/FileContentIndex/bed8a9b4-f5d6-4178-bdad-a2448e4bc850.vsidx
/.vs/SaveManager/FileContentIndex/6b5fe77e-dadc-45c2-ba68-36ef20573d9b.vsidx
/.vs/SaveManager/FileContentIndex/e2418ded-fdf0-4fc7-9b5d-451f255c22b3.vsidx
/.vs/SaveManager/FileContentIndex/7eb17dcf-0e6d-4053-a053-c0d981d4c12c.vsidx
/.vs