/MultiversionSupport/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/MultiversionSupport/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/MultiversionSupport/bin/Release/net48/HOOKS-Assembly-CSharp.dll
/MultiversionSupport/bin/Release/net48/PUBLIC-Assembly-CSharp.dll
